/*
	http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*
	========================================
	Base
	========================================
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	background-color: #e8e8e7;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #666;
}

img {
	max-width: 100%;
}

/*
	========================================
	Typography
	========================================
*/

h1 {
	font-weight: 900;
	font-size: 5em;
}

h2 {
	font-weight: 700;
	font-size: 2em;
}

p {
	margin: 1em 0;
	text-indent: 1.5em;
	font-size: 1.6em;
	line-height: 1.5;
}


/*
	========================================
	Estrutura
	========================================
*/

*[class^="col"] {
	padding: 0 15px;
}

.grid {
	width: 100%;
	max-width: 980px;
	padding: 0 15px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin-bottom: 22px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*
	========================================
	Helper Classes
	========================================
*/

.text-left {
	text-align: left;
}

/*
	========================================
	Header
	========================================
*/

.header {
	height: 400px;
	background-image: url("http://lorempixel.com/980/400/city/3/");
	background-repeat: no-repeat;
	background-size: cover;
	color: #444;
}

.header-inner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-logo {
	padding: 2.5em;
	box-shadow: 0 0 15px rgba(0,0,0,0.75);
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
}

.header-title {
	color: inherit;
}

.header-subtitle {
	color: inherit;
}

.header p {
	margin: 1em 0 0 0;
	font-size: 2.5em;
	line-height: 1;
}

.line {
	background-color: #8bcc98;
	height: 1.1em;
}

/*
	========================================
	Content main
	========================================
*/

.content-main {
	padding: 2em;
	background-color: #fff;
	max-width: 480px;
	margin: 0 auto;
}